/* Minimal styles; Tailwind is loaded via CDN in index.html */
html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

